.cloud-container {
	flex-direction: row;
	padding: 0;
}

.files-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: var(--space-7);
}

.file-metadata-container {
	display: none;
	width: 325px;
	padding: var(--space-7);
	border-left: 1px solid var(--main-color);
}

.body {
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
	width: 100%;
	height: 100%;
	padding: var(--space-7) var(--space-6);
	background-color: var(--main-light);
	border-radius: var(--radio-1);
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.file-metadata-container .slot {
	display: flex;
	flex-direction: column;
	gap: var(--space-3);
	padding: var(--space-5) var(--space-6);
	background-color: var(--main-light-1);
	border-radius: var(--radio-1);
}

.file-metadata-container .slot-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.file-metadata-container .slot-row .slot-img {
	width: 100%;
	height: 250px;
	background-size: cover;
}

.file-metadata-container .slot-row .slot-title {
	flex: 0 0 35%;
	width: 100%;
}

.file-metadata-container .slot-row .slot-value {
	flex: 0 0 65%;
	width: 100%;
	text-overflow: ellipsis;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}

.file-metadata-container .slot .progress {
	height: 6px;
	background-color: var(--main-light);
}

.file-metadata-container .slot .progress-bar {
	background-color: var(--main-color);
}

.file-metadata-container .slot-title {
	font-weight: bold;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: x-large;
}

.files-grid {
	display: flex;
	flex-direction: column;
	padding: var(--space-5);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.file-metadata-container {
		display: inherit;
	}

	.files-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: var(--space-5);
		padding: var(--space-5);
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.file-metadata-container {
		width: 350px;
	}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
