<div #cloudContainer class="cloud-container page-main-container">
	<div class="files-container">
		<div class="body">
			<app-actions-menu (event)="eventHandler($event)"></app-actions-menu>
			<ng-container *ngIf="files.length == 0; else filesGrid"
				><div class="message">
					There are no files uploaded
					<i class="bi bi-emoji-frown"></i></div
			></ng-container>

			<ng-template #filesGrid>
				<div class="files-grid">
					<ng-container *ngFor="let file of files">
						<app-item-card
							[file]="file"
							[showSelector]="showFileSelectors"
							(selected)="selectFile($event, file)"
						></app-item-card>
					</ng-container>
				</div>
			</ng-template>
		</div>
	</div>

	<div class="file-metadata-container">
		<div class="body">
			<div class="slot slot-info-space">
				<div class="slot-row">
					<span class="slot-title">Used space</span>
					<span class="slot-value">{{
						filesSize | tspace : true
					}}</span>
				</div>

				<div class="progress">
					<div
						class="progress-bar"
						role="progressbar"
						[ngStyle]="{
							width: (filesSize | tspace : false) + '%'
						}"
						[attr.aria-valuenow]="filesSize | tspace : false"
						aria-valuemin="0"
						aria-valuemax="100"
					></div>
				</div>
			</div>

			<div class="slot slot-info-files">
				<div class="slot-row">
					<span class="slot-title">Total files</span>
					<span class="slot-value">{{ files.length }}</span>
				</div>
			</div>

			<div
				class="slot slot-chart"
				*ngIf="!showFileSelectors && !fileOnFocus"
			>
				<ngx-charts-pie-chart
					[results]="dataPC"
					[view]="viewPC"
					[animations]="animationPC"
					[scheme]="colorSchemePC"
					[labels]="labelsPC"
					[legend]="true"
					[legendTitle]="''"
					[legendPosition]="legendPosition"
					[explodeSlices]="explodeSlices"
				></ngx-charts-pie-chart>
			</div>

			<div class="slot slot-info-file" *ngIf="fileOnFocus">
				<div class="slot-row image">
					<div class="slot-img"></div>
				</div>

				<div class="slot-row">
					<span class="slot-title">Name</span>
					<span class="slot-value">{{ fileOnFocus.name }}</span>
				</div>

				<div class="slot-row">
					<span class="slot-title">Type</span>
					<span class="slot-value">{{ fileOnFocus.ext }}</span>
				</div>

				<div class="slot-row">
					<span class="slot-title">Size</span>
					<span class="slot-value">{{
						fileOnFocus.size | tspace : true
					}}</span>
				</div>

				<div class="slot-row">
					<span class="slot-title"
						><i class="bi bi-cloud-download"></i
					></span>
					<a class="slot-download">Download</a>
				</div>
			</div>

			<div class="slot slot-info-files" *ngIf="showFileSelectors">
				<div class="slot-row">
					<span class="slot-title"># Files</span>
					<span class="slot-value">{{ selectedFiles.size }}</span>
				</div>

				<div class="slot-row">
					<span class="slot-title">Size</span>
					<span class="slot-value">{{
						getSizeSelectedFiles() | tspace : true
					}}</span>
				</div>

				<div class="slot-row">
					<span class="slot-title"
						><i class="bi bi-cloud-download"></i
					></span>
					<a class="slot-download">Download</a>
				</div>
			</div>
		</div>
	</div>
</div>
