<div class="actions-menu-main-container">
	<ng-container *ngFor="let action of navOptions">
		<a
			*ngIf="onEdit ? onEdit && action.showOnEdit : !action.showOnEdit"
			class="action-button"
			[attr.data-bs-toggle]="!action.action ? 'modal' : ''"
			[attr.data-bs-target]="!action.action ? '#modal' : ''"
			(click)="selectAction(action); action.action && action.action()"
		>
			<i [ngClass]="action.icon"></i>
			<span *ngIf="showActionsNames">{{ action.name }}</span>
		</a>
	</ng-container>
</div>

<div
	#modal
	class="modal fade"
	id="modal"
	tabindex="-1"
	aria-labelledby="uploadModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="uploadModalLabel">
					{{ lastAction?.name }}
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<input
							*ngIf="lastAction?.id == CloudMenuAction.UPLOAD"
							type="file"
							class="form-control"
							id="file"
							(change)="onFileSelected($event)"
						/>

						<input
							*ngIf="lastAction?.id == CloudMenuAction.CREATE"
							type="text"
							class="form-control"
							id="folder"
							(change)="onFileSelected($event)"
						/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary close-modal"
					data-bs-dismiss="modal"
				>
					Close
				</button>
				<button
					type="button"
					class="btn btn-primary upload"
					(click)="upload()"
				>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
