<div class="item-card-main-container">
	<div class="body" (click)="onSelect()">
		<i *ngIf="showSelector && !isSelected" class="bi bi-circle check"></i>
		<i
			*ngIf="showSelector && isSelected"
			class="bi bi-check-circle-fill check"
		></i>
		<div class="img-container">
			<i
				*ngIf="file?.isFile"
				[ngClass]="'bi bi-filetype-' + file?.ext"
			></i>
			<i *ngIf="!file?.isFile" class="bi bi-folder-fill text-warning"></i>
		</div>
		<div class="title-container">{{ file?.name }}</div>
	</div>
</div>
